* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #a29292;
}

body {
  margin: 0;
  font-family: Poppins, 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(236, 100%, 8%, 1);

  background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000328", endColorstr="#00458e", GradientType=1);
  height: 100vh;
  background-repeat: no-repeat;
}