.register-container {
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container form {

    border: 1px solid white;
    border-radius: 15px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.register-container form input {
    outline: 0px;
    padding: 10px;
    /* font-family: Poppins; */
    border: 0px solid white;
    border-radius: 10px;
    margin: 5px;
}

.register-container button {
    outline: 0px;
    padding: 10px 20px;
    margin: 10px;
    border: 0px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.register-container button:hover {
    opacity: 0.5;
}

.register-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.close-btn-container {
    display: flex;
    justify-content: end;
    position: relative;
    margin-left: 65px;
    /* background: #000; */
    width: 100%;
}

.close-btn:hover {
    opacity: 0.3;
}